<a href="https://colab.research.google.com/github/bundickm/miracle-messages-map-DS/blob/master/Michael_Bundick_Miracle_Messages.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
pd.set_option('max_colwidth', 3000)

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/mkirby1995/miracle_messages/master/Master%20MM%20Volunteers%20-%20MM%20Volunteers.csv')

In [62]:
df.head()

          Submitted on                Email address  ... Name Merge status
0  2015-04-08 17:21:31          rachels42@gmail.com  ...  NaN          NaN
1  2015-04-08 17:21:24            dmhomee@gmail.com  ...  NaN          NaN
2  2015-04-08 17:21:23             joe@simple10.com  ...  NaN          NaN
3  01/14/2017 20:09:53     katierussell58@gmail.com  ...  NaN          NaN
4  2015-04-08 17:21:33  anatoledanogarcia@gmail.com  ...  NaN          NaN

[5 rows x 24 columns]

In [0]:
# comments = df[df['City'].isnull() & ~df['Comment'].isnull()]['Comment']
# for comment in comments:
#   print(df[df['Comment'] == comment].index.values, comment)

In [0]:
#City
df.loc[df.index == 730, 'City'] = 'Belgrade'
df.loc[df.index == 733, 'City'] = 'Belton'
df.loc[df.index == 827, 'City'] = 'Boston'
df.loc[df.index == 839, 'City'] = 'Boulder'
df.loc[df.index == 912, 'City'] = 'Buffalo'
df.loc[df.index == 929, 'City'] = 'Byron Bay'
df.loc[df.index == 1483, 'City'] = 'Columbus'
df.loc[df.index == 1571, 'City'] = 'Daytona Beach'
df.loc[df.index == 1585, 'City'] = 'Denton'
df.loc[df.index == 1653, 'City'] = 'Detroit'
df.loc[df.index == 1735, 'City'] = 'Fallbrook'
df.loc[df.index == 2039, 'City'] = 'Houston'
df.loc[df.index == 2187, 'City'] = 'Monroe'
df.loc[df.index == 2243, 'City'] = 'Las Vegas'
df.loc[df.index == 2333, 'City'] = 'London'
df.loc[df.index == 2721, 'City'] = 'Montreal'
df.loc[df.index == 2784, 'City'] = 'Nelson'
df.loc[df.index == 2803, 'City'] = 'New Orleans'
df.loc[df.index == 2810, 'City'] = 'Orlando'
df.loc[df.index == 2987, 'City'] = 'Philadelphia'
df.loc[df.index == 3015, 'City'] = 'Fremont'
df.loc[df.index == 3184, 'City'] = 'Orange County'
df.loc[df.index == 3451, 'City'] = 'Raleigh'
df.loc[df.index == 3571, 'City'] = 'Raleigh'
df.loc[df.index == 3613, 'City'] = 'San Diego'
df.loc[df.index == 3958, 'City'] = 'Santa Cruz'
df.loc[df.index == 3978, 'City'] = 'Santa Rosa'
df.loc[df.index == 4034, 'City'] = 'Seattle'
df.loc[df.index == 4108, 'City'] = 'Lake Tahoe'
df.loc[df.index == 4182, 'City'] = 'Stockholm'
df.loc[df.index == 4183, 'City'] = 'Stony Brook'
df.loc[df.index == 4186, 'City'] = 'Stuart'
df.loc[df.index == 4243, 'City'] = 'Tampa'
df.loc[df.index == 4334, 'City'] = 'Spokane'
df.loc[df.index == 4413, 'City'] = 'Brighton'
df.loc[df.index == 4497, 'City'] = 'Victoria'
df.loc[df.index == 4506, 'City'] = 'Virginia Beach'
df.loc[df.index == 4548, 'City'] = 'Warrington'
df.loc[df.index == 4571, 'City'] = 'Washington'
df.loc[df.index == 4571, 'City'] = 'Williamsport'
df.loc[df.index == 4668, 'City'] = 'York'
df.loc[df.index == 4678, 'City'] = 'Stanford'
df.loc[df.index == 4716, 'City'] = 'Arlington'
df.loc[df.index == 5896, 'City'] = 'Burlingame'
df.loc[df.index == 6892, 'City'] = 'Oakland'
df.loc[((df.index == 1289) | (df.index == 4449)), 'City'] = 'Vancouver'
df.loc[((df.index == 3223) | (df.index == 3437)), 'City'] = 'Ottawa'
df.loc[((df.index == 2631) | (df.index == 2632)), 'City'] = 'Miami'
df.loc[((df.index == 1270) | (df.index == 2055)), 'City'] = 'Dallas'
df.loc[((df.index == 2357) | (df.index == 2360)), 'City'] = 'Los Angeles'
df.loc[((df.index == 1400) | (df.index == 1403)), 'City'] = 'Chicago'

Toronto = [4286, 4310, 4315, 4321]
for index in Toronto:
  df.loc[df.index == index, 'City'] = 'Toronto'
  
SF = [3244, 3673, 3674, 4419, 4420, 7059, 7066]
for index in SF:
  df.loc[df.index == index, 'City'] = 'San Francisco'

NYC = [2883, 895, 2936, 3002, 3089, ]
for index in NYC:
  df.loc[df.index == index, 'City'] = 'New York City'

#State
df.loc[df.index == 730, 'Stateprovince'] = 'Belgrade'
df.loc[df.index == 1483, 'Stateprovince'] = 'Ohio'
df.loc[df.index == 2333, 'Stateprovince'] = 'London'
df.loc[df.index == 827, 'Stateprovince'] = 'Massachusetts'
df.loc[df.index == 839, 'Stateprovince'] = 'Colorado'
df.loc[df.index == 929, 'Stateprovince'] = 'New South Wales'
df.loc[df.index == 1269, 'Stateprovince'] = 'Arkansas'
df.loc[df.index == 1561, 'Stateprovince'] = 'Connecticut'
df.loc[df.index == 1653, 'Stateprovince'] = 'Michigan'
df.loc[df.index == 2187, 'Stateprovince'] = 'New Hampshire'
df.loc[df.index == 2721, 'Stateprovince'] = 'Quebec'
df.loc[df.index == 4182, 'Stateprovince'] = 'Uppland'
df.loc[df.index == 4413, 'Stateprovince'] = 'Sussex'
df.loc[df.index == 4571, 'Stateprovince'] = 'District of Columbia'
df.loc[((df.index == 4506) | (df.index == 4716)), 'Stateprovince'] = 'Virginia'
df.loc[((df.index == 4034) | (df.index == 4334)), 'Stateprovince'] = 'Washington'
df.loc[((df.index == 1400) | (df.index == 1403)), 'Stateprovince'] = 'Illinois'
df.loc[((df.index == 2187) | (df.index == 2803)), 'Stateprovince'] = 'Louisiana'
df.loc[((df.index == 3430) | (df.index == 3571)), 'Stateprovince'] = 'Utah'

Pennsylvania = [2987, 4605, 4668]
for index in Pennsylvania:
  df.loc[df.index == index, 'Stateprovince'] = 'Pennsylvania'
  
BC = [1289, 2784, 4449, 4497]
for index in BC:
  df.loc[df.index == index, 'Stateprovince'] = 'British Columbia'

Ontario = [3223, 3437, 4286, 4310, 4315, 4321, ]
for index in Ontario:
  df.loc[df.index == index, 'Stateprovince'] = 'Ontario'
  
Nevada = [2243, 3479, 4108, ]
for index in Nevada:
  df.loc[df.index == index, 'Stateprovince'] = 'Nevada'
  
Florida = [1571, 2599, 2631, 2632, 2810, 4186, 4243, ]
for index in Florida:
  df.loc[df.index == index, 'Stateprovince'] = 'Florida'
  
Texas = [733, 1270, 2039, 2055]
for index in Texas:
  df.loc[df.index == index, 'Stateprovince'] = 'Texas'

California = [2357, 2360, 3184, 3244, 3613, 3673, 3674, 3958, 3978, 4419, 4420,
              4678, 5896, 7059, 7066, 6892, ]
for index in California:
  df.loc[df.index == index, 'Stateprovince'] = 'California'

NY = [2883, 895, 912, 2936, 3002, 3089, 4183, ]
for index in NY:
  df.loc[df.index == index, 'Stateprovince'] = 'New York'

#Country
df.loc[df.index == 730, 'Country'] = 'Serbia'
df.loc[df.index == 929, 'Country'] = 'Australia'
df.loc[df.index == 1582, 'Country'] = 'Denmark'
df.loc[df.index == 4182, 'Country'] = 'Denmark'
df.loc[(df.index == 1669), 'Country'] = 'Ireland'
df.loc[(df.index == 1669), 'Country'] = 'Vietnam'

USA = [733, 827, 839, 895, 912, 1400, 1403, 1269, 1270, 1483, 1561, 1571, 1653,
       2187, 2243, 2357, 2360, 2599, 2631, 2632, 2803, 2810, 2883, 2936, 2987,
       3002, 3089, 3184, 3244, 3430, 3479, 3571, 3613, 3673, 3674, 3958, 3978,
       4034, 4108, 4183, 4186, 4243, 4334, 4419, 4420, 4506, 4571, 4605, 4668,
       4678, 4716, 5896, 6892, 7059, 7066]
for index in USA:
  df.loc[df.index == index, 'Country'] = 'USA'

CANADA = [1289, 1694, 1891, 2721, 2784, 3223, 3437, 4152, 4286, 4291, 4298,
          4310, 4315, 4321, 4449, 4497]
for index in CANADA:
  df.loc[df.index == index, 'Country'] = 'Canada'

UK = [1705, 2332, 2333, 3524, 3532, 4413, 4664, ]
for index in UK:
  df.loc[df.index == index, 'Country'] = 'United Kingdom'

In [65]:
df.head()

          Submitted on                Email address  ... Name Merge status
0  2015-04-08 17:21:31          rachels42@gmail.com  ...  NaN          NaN
1  2015-04-08 17:21:24            dmhomee@gmail.com  ...  NaN          NaN
2  2015-04-08 17:21:23             joe@simple10.com  ...  NaN          NaN
3  01/14/2017 20:09:53     katierussell58@gmail.com  ...  NaN          NaN
4  2015-04-08 17:21:33  anatoledanogarcia@gmail.com  ...  NaN          NaN

[5 rows x 24 columns]